/* Variables and mixins declared here will be available in all other SCSS files */ /* https://github.com/jgthms/bulma/issues/1293 */
$body-overflow-y: auto;
$container-max-width: 1152px;
$table-head-background-color: #a9d672;
$table-cell-border: 1px solid black;

$light-green: #e3efc8;
$primary: #a9d672;